.prediction {
  fill: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #495298 20px
  );
}
.axis path,
.axis line {
  shape-rendering: crispEdges;
}

svg {
  margin-left: 10px;
}
